@font-face {
  font-family: 'Roobert TRIAL';
}

body {
  font-family: 'Roobert TRIAL', sans-serif; 
  padding: 40px 60px;
}

/* NAV */
.header__nav-home {
max-width: 1920px;
max-height: 64px;
}

.header__nav--rowStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.header__nav-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-skintric {
  color: #0a0a0a;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.header__nav-intro {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
}

.header__nav-button {
  color: #fafafa;
  font-size: 14px;
  background-color: #171717;
  padding: 8px 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
}

/* Center Home Page */

.sophisticatedSkincare__header-home 
{
  font-weight: 300;
  font-size: 128px;
  text-align: center;
  margin-top: 361px;
  display: flex;
  flex-direction: column;
}

.sophisticatedSkincare__header-font1 {
  font-weight: 300;
  font-size: 128px;
  text-align: center;
}

.sophisticatedSkincare__header-font2 {
  font-weight: 300;
  font-size: 128px;
  text-align: center;
}

/* Buttons and Design - Home Page */

.header-line-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.diamond-left {
  width: 602px;
  height: 602px;
  top: 179px;
  border: 2px solid #a0a4ab;
  border-style: dashed;
  position: absolute;
  transform: rotate(45deg); 
  left: -400px;
}

.diamond-right {
  width: 602px;
  height: 602px;
  top: 179px;
  border: 2px dashed #a0a4ab;
  position: absolute;
  transform: rotate(45deg);
  right: -400px; 
}

.discover__button-left {
width: 150px;
height: 44px;
margin-top: 300px;
position: absolute;
left: -30px;
}

.takeTest__button-right {
  width: 140px;
  height: 44px;
  margin-top: 300px;
  position: absolute;
  right: -30px;
  cursor: pointer;
}

/* Paragraph Home Page */
.skinstric__home-paragraph {
  width: 316px;
  height: 72px;
  padding-top: 300px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  
}


/* Form Page */
.form-container {
  display: flex;
  flex-direction: column;
  padding: 40px;
  max-width: 500px;
  margin: 0 auto;
}

input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

button {
  margin: 10px;
  padding: 10px 20px;
}

.error {
  color: red;
}
