@font-face {
  font-family: 'Roobert TRIAL';
}

body {
  font-family: 'Roobert TRIAL', sans-serif; /* Use the font in your styles */
}

.sophisticatedSkincare__header-home 
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 680px;
  height: 240px;
  top: 361px;
  left: 620px;
}
